@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
html {
  scroll-behavior: smooth;
}

._geocentric-wrapper {
  margin-top: 30px;
  margin-right: 20px;
  max-width: 900px;
  font-family: 'Poppins', sans-serif;
}

._geocentric-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._geocentric-wrapper .header h1 {
  font-size: 34px;
  font-weight: 600;
}

._geocentric-wrapper .header img {
  width: 350px;
}

._geocentric-wrapper .nav .nav-tab-wrapper {
  border: none;
}

._geocentric-wrapper .nav .nav-tab {
  padding: 10px;
  border: none;
  border-top: solid 4px #f5f5f5;
  margin: 0;
  margin-right: 5px;
  background: #f5f5f5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

._geocentric-wrapper .nav .nav-tab:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._geocentric-wrapper .nav .nav-tab:hover {
  background: white;
  border-top: solid 4px #3A177B;
}

._geocentric-wrapper .nav .nav-tab-active {
  background: white;
  border-top: solid 4px #3A177B;
}

._geocentric-wrapper ._inner-wrapper {
  background: white;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.09);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.09);
  border-radius: 0 30px 30px 30px;
  padding: 10px 30px 30px 30px;
}

._geocentric-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._geocentric-wrapper div > h2 {
  font-size: 24px;
}

._geocentric-wrapper div > hr {
  margin: 20px 0;
}

._geocentric-wrapper .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

._geocentric-wrapper .input-group label {
  padding-left: 10px;
  color: black;
  font-weight: 400;
}

._geocentric-wrapper .input-group label span {
  color: #660CFF;
}

._geocentric-wrapper .input-group input[type=text], ._geocentric-wrapper .input-group input[type=number], ._geocentric-wrapper .input-group select {
  padding: 0 20px;
  height: 40px;
  background: #f5f5f5;
  border: none;
  border-radius: 50px;
}

._geocentric-wrapper .input-group textarea {
  padding: 20px;
  background: #f5f5f5;
  border: none;
  border-radius: 20px;
}

._geocentric-wrapper .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

._geocentric-wrapper .form-footer input[type=submit], ._geocentric-wrapper .form-footer input[type=button], ._geocentric-wrapper .form-footer button {
  padding: 3px 20px;
  font-size: 13px;
}

._geocentric-wrapper .settings-tab form {
  display: block;
}

._geocentric-wrapper .settings-tab form .input-group {
  max-width: 500px;
}

._geocentric-wrapper .settings-tab form .form-footer .save-button {
  height: 40px;
  width: 100px;
  background: #660CFF;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .settings-tab form .form-footer .save-button:hover {
  background: #3A177B;
}

._geocentric-wrapper .styling-tab .summary {
  margin-bottom: 30px;
}

._geocentric-wrapper .styling-tab .summary h4 {
  margin-bottom: 10px;
}

._geocentric-wrapper .styling-tab .summary p {
  margin: 0;
}

._geocentric-wrapper .styling-tab .group {
  margin-bottom: 40px;
}

._geocentric-wrapper .styling-tab .group .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

._geocentric-wrapper .styling-tab .input-group {
  max-width: 150px;
}

._geocentric-wrapper .styling-tab .input-group select {
  min-width: 150px;
}

._geocentric-wrapper .styling-tab .thingstodocomponent_showratings {
  display: inline;
  max-width: 400px;
}

._geocentric-wrapper .styling-tab .form-footer .save-button {
  height: 40px;
  width: 100px;
  background: #660CFF;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .styling-tab .form-footer .save-button:hover {
  background: #3A177B;
}

._geocentric-wrapper .styling-tab .form-footer .reset-default-button {
  background: white;
  height: 40px;
  border-radius: 50px;
  border: solid 2px #660CFF;
  color: #660CFF;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .styling-tab .form-footer .reset-default-button:hover {
  color: white;
  background: #3A177B;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: solid 2px #3A177B;
}

._geocentric-wrapper .locations-tab .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

._geocentric-wrapper .locations-tab button {
  padding: 3px 20px;
  font-size: 13px;
  height: 40px;
  background: #660CFF;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .locations-tab button:hover {
  background: #3A177B;
}

._geocentric-wrapper .locations-tab .locations-list {
  min-height: 300px;
}

._geocentric-wrapper .locations-tab .locations-list .location {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

._geocentric-wrapper .locations-tab .locations-list .location:hover {
  background: #e7e7e7;
}

._geocentric-wrapper .locations-tab .locations-list .location p {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

._geocentric-wrapper .locations-tab .locations-list .location span {
  background: #660CFF;
  padding: 0 5px;
  color: #f5f5f5;
  border-radius: 2px;
  font-size: 11px;
}

._geocentric-wrapper .locations-tab .locations-list .location .options-button {
  margin-left: 10px;
  position: relative;
}

._geocentric-wrapper .locations-tab .locations-list .location .options-button .dropdown-menu {
  background: white;
  position: absolute;
  min-width: 150px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.09);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 5px 0;
  z-index: 10;
}

._geocentric-wrapper .locations-tab .locations-list .location .options-button .dropdown-menu a {
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  color: black;
  padding: 7px 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

._geocentric-wrapper .locations-tab .locations-list .location .options-button .dropdown-menu a:hover {
  background: #e7e7e7;
}

._geocentric-wrapper .locations-tab .locations-list .location a, ._geocentric-wrapper .locations-tab .locations-list .location button {
  border: none;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  cursor: pointer;
}

._geocentric-wrapper .locations-tab .locations-list .location a:focus, ._geocentric-wrapper .locations-tab .locations-list .location a:active, ._geocentric-wrapper .locations-tab .locations-list .location button:focus, ._geocentric-wrapper .locations-tab .locations-list .location button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._geocentric-wrapper .locations-tab .locations-list .location a:hover i, ._geocentric-wrapper .locations-tab .locations-list .location button:hover i {
  color: black;
}

._geocentric-wrapper .locations-tab .locations-list .location a i, ._geocentric-wrapper .locations-tab .locations-list .location button i {
  margin-top: 5px;
  font-size: 18px;
  color: #8b8b8b;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

._geocentric-wrapper .locations-tab .locations-list .location .shortcodes-button {
  margin-left: auto;
}

._geocentric-wrapper .locations-tab .locations-list .location .reimporting {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
  pointer-events: none;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

._geocentric-wrapper .new-location-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

._geocentric-wrapper .new-location-form .input-group {
  max-width: 250px;
}

._geocentric-wrapper .new-location-form .input-group select {
  min-width: 250px;
}

._geocentric-wrapper .new-location-form .full-width {
  max-width: 770px;
}

._geocentric-wrapper .new-location-form .streetzip-input-group {
  display: none;
}

._geocentric-wrapper .new-location-form .input-checkbox {
  max-width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

._geocentric-wrapper .new-location-form .form-footer .create-button {
  height: 40px;
  background: #660CFF;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .new-location-form .form-footer .create-button:hover {
  background: #3A177B;
}

._geocentric-wrapper .new-location-form .form-footer .discard-button {
  background: white;
  height: 40px;
  border-radius: 50px;
  border: solid 2px #660CFF;
  color: #660CFF;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

._geocentric-wrapper .new-location-form .form-footer .discard-button:hover {
  color: white;
  background: #3A177B;
  -webkit-box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
          box-shadow: 0px 4px 40px rgba(102, 12, 255, 0.25);
  border-radius: 50px;
  border: solid 2px #3A177B;
}

._geocentric-wrapper .new-location-form .form-footer img {
  max-height: 30px;
  display: none;
}

div#TB_window .shortcode-tb textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main_page.css.map */